.tableLine {
  stroke: black;
  stroke-width: 1;
}

.interactiveCircle {
  fill: transparent;
  &:hover {
    cursor: pointer;
  }
}

.subWord1 {
  fill: blue;
  stroke: blue;
}

.subWord2 {
  fill: red;
  stroke: red;
}

.nomalWord {
  fill: black;
}
