.root .menuTitle {
  background-color: transparent;
  color: var(--blue-900);
}

.root .menuTitle span {
  margin-left: 5px;
}

.menu .link {
  background-color: transparent;
  color: var(--blue-900);
  text-decoration: none;
}

body {
  box-sizing: content-box;
}
