.header {
  background-color: white;
  margin: 0 0 1.45rem 0;
  width: 100%;

  .firstLine {
    margin: 0;
    padding: 1.45rem 1.0875rem;
    display: flex;
    justify-content: space-between;
    text-align: left;
    h1 {
      color: var(--blue-900);
      font-size: 200%;
      @media (max-width: 900px) {
        font-size: 150%;
      }
    }
    h1:hover {
      color: black;
    }
  }

  .menu {
    text-align: center;
    li {
      display: inline-block;
      margin: 4px 8px;
      padding: 4px 8px;
      a {
        color: var(--blue-900);
      }
    }
    li:hover a {
      color: black;
    }
  }
}
