$articleWidth: 850px;
$minSideMargin: 8px;
$bioSize: 300px;
$leftRightPadding: 32px;
$topBottomPadding: 64px;

.root {
  footer {
    background-color: gray;
    color: white;
    padding: $minSideMargin 0;
    margin-top: $topBottomPadding;
    width: 100%;
  }
}

.article {
  position: relative;
  margin-left: $minSideMargin;
  margin-right: $minSideMargin;
  background-color: white;
  padding: $topBottomPadding $leftRightPadding;
  @media (min-width: $articleWidth+2*$minSideMargin) {
    max-width: $articleWidth;
    padding: $topBottomPadding $leftRightPadding;
    margin-left: auto;
    margin-right: auto;
  }
  .aboutContainer {
    width: $bioSize;
    position: absolute;
    left: $articleWidth + $minSideMargin + 2 * $leftRightPadding;
    background-color: white;
    padding: $topBottomPadding $leftRightPadding;
    top: 0;

    @media (max-width: $articleWidth+$bioSize+3*$minSideMargin) {
      display: none;
    }
  }
}
