$articleWidth: 850px;
$minSideMargin: 8px;
$bioSize: 300px;
$leftRightPadding: 32px;
$topBottomPadding: 64px;
$smallLeftRightPadding: 8px;
$smallTopBottomPadding: 32px;
$break-point: 450px;

.root {
  footer {
    background-color: gray;
    color: white;
    padding: $minSideMargin 0;
    width: 100%;
    @media (min-width: $break-point) {
      margin-top: $topBottomPadding;
    }
  }
}

.main {
  display: flex;
  justify-content: center;
  @media (min-width: $break-point) {
    padding: $minSideMargin;
  }
}

.article {
  background-color: white;
  padding: $smallTopBottomPadding $smallLeftRightPadding;
  @media (min-width: $break-point) {
    padding: $topBottomPadding $leftRightPadding;
  }
  max-width: $articleWidth;
  width: 100%;
  text-align: left;
}
.aboutContainer {
  width: $bioSize;
  background-color: white;
  padding: $topBottomPadding $leftRightPadding;
  margin-left: $minSideMargin;

  @media (max-width: $articleWidth+2*$bioSize+3*$minSideMargin) {
    display: none;
  }
}
