$articleWidth: 850px;
$minSideMargin: 8px;
$bioSize: 300px;
$leftRightPadding: 32px;
$topBottomPadding: 64px;

.root {
  footer {
    background-color: gray;
    color: white;
    padding: $minSideMargin 0;
    margin-top: $topBottomPadding;
    width: 100%;
  }
}

.main {
  display: flex;
  justify-content: center;
  padding: $minSideMargin;
}

.article {
  background-color: white;
  padding: $topBottomPadding $leftRightPadding;
  max-width: $articleWidth;
  text-align: left;
}
.aboutContainer {
  width: $bioSize;
  background-color: white;
  padding: $topBottomPadding $leftRightPadding;
  margin-left: $minSideMargin;

  @media (max-width: $articleWidth+2*$bioSize+3*$minSideMargin) {
    display: none;
  }
}
