.root {
  color: black;
  height: max-content;
  padding: 32px 16px;
  transition: box-shadow 0.1s;
  text-align: left;
  &:hover {
    box-shadow: 4px 4px 5px 4px rgba(0, 0, 0, 0.2);
  }
  h2 {
    font-size: 150%;
  }
  p {
    font-size: 100%;
  }
}
