.paramameters {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  & div {
    min-width: 30%;
    text-align: center;
    & svg {
      max-width: 10rem;
    }
  }
}

.dragging {
  cursor: grabbing;
  & * {
    pointer-events: none;
  }
}

.removeInteractions {
  & * {
    pointer-events: none;
  }
}
.active {
  .draggable:hover {
    cursor: grab;
  }

  .fadeElement {
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
  }
}

.disable {
  opacity: 0.5;
  & * {
    pointer-events: none;
  }
}
